.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--box-shadow-color);
  animation: modal-animation .2s;
  display: none;
  z-index: 998;
  .modal-dialog {
    padding: 1.5rem;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-bg-color);
    border-radius: 0.375rem;
    z-index: 999;
    color: var(--primary-text-color);
    .modal-content {
      flex-direction: column;

      .modal-header {
        .hide-modal {
          cursor: pointer;
        }
      }
      .modal-body {
        min-height: 108px;
      }
    }
  }
  .modal-footer {
    margin-top: auto;
  }
}

.show {
  display: block;
}

@keyframes modal-hide-animation {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes modal-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 500px) {
  .modal {
    .modal-dialog {
      width: 90%;
      height: auto;
      padding: 1.25rem !important;
    }

  }
}