.dashboard-content {
  table, thead, th {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
  }
  th::before {
    width: 0 !important;
  }
  td, th {
    border-bottom: 1px solid var(--card-border-color) !important;
  }
  .ant-table-cell-row-hover, .ant-table-cell, .ant-empty-description {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
  }
  a, button {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
    border: 1px solid var(--card-border-color) !important;
  }
  .ant-pagination-item-active {
    background-color: var(--active-link-bg-color) !important;
    color: var(--primary-text-color) !important;
    border: 1px solid var(--card-border-color) !important;
  }
  button.btn-link-primary {
    border: none !important;
  }
  .book-action-btn {
    border: none !important;
  }
  .action-td {
    width: max-content;
  }
}

.admin-modal {
  width: 550px !important;
  max-height: 583px;
  overflow-y: scroll;
}
.data-create-form {
  flex-wrap: wrap;
  select, input, option {
    padding: .75rem !important;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--card-border-color) !important;
  }
}