.btn-solid-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  &:hover {
    background-color: var(--primary-hover-color) !important;
  }
}
