.footer {
  background-color: var(--primary-bg-color) !important;
  .footer-links * {
    color: var(--secondary-text-color) !important;
  }
}

.footer-links {
  width: fit-content;
  margin: auto;
  li {
    font-size: .75rem;
    a {
      margin-bottom: 0 !important;
    }
    a:hover {
      text-decoration: underline;
    }
    .footer-logo {
      font-size: 1rem;
      font-family: 'Merriweather', serif;
      user-select: none;
    }
  }
}