.navbar-mobile {
  background-color: var(--secondary-bg-color) !important;
  color: var(--secondary-text-color) !important;
  .nav-logo * {
    color: var(--primary-text-color) !important;
  }
  a.nav-link * {
    color: var(--secondary-text-color) !important;
  }
  a.active * {
    color: var(--primary-color) !important;
  }
}

.nav-logo *{
  font-family: 'Merriweather', serif;
}
