$primary-dark-color: #010409;
$secondary-dark-color: #0d1117;
$light-text-color: #E6EDF3;
$secondary-light-text-color: #848D97;
$light-purple-color: #9309BF;
$primary-purple-color: #552470;
$dark-purple-color: #2F1751;

$primary-light-color: #FFF;
$secondary-light-color: #F2F5F9;
$dark-text-color: #1F2328;
$secondary-dark-text-color: #656D76;
$light-pink-color: #FF7461;
$primary-pink-color: #F44A65;
$dark-pink-color: #E02C73;
