$primary-dark-color: #010409;
$secondary-dark-color: #0D1117;
$light-text-color: #E6EDF3;
$secondary-light-text-color: #848D97;

$primary-light-color: #FFF;
$secondary-light-color: #f6f8fa;
$dark-text-color: #1F2328;
$secondary-dark-text-color: #656D76;