:root {
  --primary-bg-color: #FFF;
  --secondary-bg-color: #F2F5F9;
  --primary-text-color: #1F2328;
  --secondary-text-color: #656D76;
  --primary-color: #F44A65;
  --primary-hover-color: #F33251;
}

[theme='dark'] {
  --primary-bg-color: #0d1117;
  --secondary-bg-color: #010409;
  --primary-text-color: #E6EDF3;
  --secondary-text-color: #848D97;
  --primary-color: #9309BF;
  --primary-hover-color: #8008A7;
}

$primary-dark-color: #010409;
$secondary-dark-color: #0d1117;
$light-text-color: #E6EDF3;
$secondary-light-text-color: #848D97;
$light-purple-color: #9309BF;
$primary-purple-color: #552470;
$dark-purple-color: #2F1751;

$primary-light-color: #FFF;
$secondary-light-color: #F2F5F9;
$dark-text-color: #1F2328;
$secondary-dark-text-color: #656D76;
$primary-pink-color: #F44A65;
$light-pink-color: #FF7461;
$dark-pink-color: #E02C73;

