.admin-navbar {
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  aside {
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid var(--card-border-color);
    a {
      padding: .25rem .5rem;
      margin-top: .5rem;
      color: var(--primary-text-color);
      font-size: 1rem;
      transition: .3s background-color;
      svg {
        margin-right: .75rem;
      }
      &:hover {
        background-color: var(--active-link-bg-color);
      }
    }
    a.active {
      background-color: var(--active-link-bg-color);
    }
  }
}