#signup-page {
  min-height: calc(100vh - 87px);
}
.register-form {
  flex-direction: column;

  .form-item {
    width: fit-content;
    margin: auto;
    text-align: left;
    margin-bottom: .75rem !important;

    label {
      font-weight: normal !important;
      font-size: .9rem;
    }

    input {
      border-radius: 19px !important;
      width: 300px;
      padding: 10px 20px !important;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--primary-text-color);
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px var(--primary-bg-color);
    }
  }
  .password-item {
    position: relative;
    input {
      padding: 10px 40px 10px 20px !important;
    }
  }
  button {
    width: 300px;
    font-weight: normal !important;
    font-size: .9rem;
  }
  p {
    width: 300px;
    font-size: .9rem;
    text-align: left;
    margin: auto;
  }
  a {
    text-decoration: underline;
  }
}

.show-password {
  position: absolute;
  right: 14px;
  top: 39px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  svg {
    font-size: 1.25rem;
    color: var(--primary-text-color);
  }
}