@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import "@/styles/global/color";
@import "@/styles/global/variables";

body {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input, textarea {
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-text-color) !important;
  border: 1px solid var(--secondary-text-color) !important;
  outline: none;
}

.logo-font {
  font-family: var(--logo-font);
}

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  min-height: calc(100vh - 148px);

  a {
    color: var(--primary-text-color);
  }
  .link-hover {
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
  .text-secondary {
    color: var(--secondary-text-color);
  }
}

.underline-link {
  text-decoration: underline;
}

.page-vertical-center {
  display: flex;
  align-items: center;
  .container {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .page {
    min-height: calc(100vh - 74px);
    padding-bottom: 74px;
  }
}