.modal-body {
  display: flex;
  padding: 1.25rem 0;
}

#list-title-input {
  border: none !important;
  border-bottom: 1px solid var(--secondary-text-color) !important;
  font-size: 1.1rem;
  width: 100%;
  transition: border-color .3s;
  height: fit-content;
  margin-top: auto;
  &:focus {
    border-bottom: 1px solid var(--primary-text-color) !important;
  }
}