:root {
  --primary-bg-color: #FFF;
  --secondary-bg-color: #F2F5F9;
  --primary-text-color: #1F2328;
  --secondary-text-color: #656D76;
  --primary-color: #F44A65;
  --primary-hover-color: #F33251;
  --card-bg-color: #e6e6e6;
  --card-border-color: #d3d3d3;
  --box-shadow-color: rgba(0,0,0,0.4);
  --active-link-bg-color: #f5f7f8;
}

[data-theme='dark'] {
  --primary-bg-color: #1d1d1d;
  // --primary-bg-color: #0d1117;
  --secondary-bg-color: #121212;
  // --secondary-bg-color: #010409;
  --primary-text-color: #E6EDF3;
  --secondary-text-color: #848D97;
  --primary-color: #9309BF;
  --primary-hover-color: #8008A7;
  --card-bg-color: #2d2d2d;
  --card-border-color: #2a2a2a;
  --box-shadow-color: rgba(100, 100, 100, 0.2);
  --active-link-bg-color: #2a2a2a;
}