.list-page {
  .row {
    margin: auto;
  }
  .list-cover {
    margin: 0 auto;
    height: 100%;
    object-fit: stretch;
  }
  
  .list-info {
    .list-author {
      display: inline-block;
      margin-top: .25rem !important;
      font-size: 18px;
    }
    .created-date {
      margin-top: .25rem !important;
      font-size: 15px;
    }
  }
  .list-actions {
    .list-action-btn {
      font-size: 18px;
      background-color: var(--primary-bg-color) !important;
      color: var(--primary-text-color);
      border: none;
      svg {
        margin-right: .25rem;
      }
    }
  }

  .book-data-table {
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid var(--card-border-color);
      th {
        text-align: left;
        padding: .5rem;
      }
    }
    tbody {
      tr {
        td {
          padding: .25rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}