.list-page {
  .row {
    margin: auto;
  }
  .list-cover {
    margin: 0 auto;
    cursor: pointer;
  }
  
  .list-info {
    .list-author {
      display: inline-block;
      margin-top: .25rem !important;
      font-size: 18px;
    }
    .created-date {
      margin-top: .25rem !important;
      font-size: 15px;
    }
  }
  .list-actions {
    .list-action-btn {
      font-size: 18px;
      background-color: var(--primary-bg-color) !important;
      color: var(--primary-text-color);
      border: none;
      svg {
        margin-right: .25rem;
      }
    }
  }

  .book-data-table {
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid var(--card-border-color);
      th {
        text-align: left;
        padding: .5rem;
      }
    }
    tbody {
      tr {
        td {
          padding: .25rem;
          .book-cover-container {
            background-color: lightgray;
            position: relative;
            width: 40px;
            height: 60px;
            overflow: hidden;
            margin: 0 .5rem;
            .book-cover {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}