.page-title {
  font-family: 'Merriweather', serif;
  h1 {
    text-transform: capitalize;
  }
}
.blogs {
  margin: auto;
  .blog-title-link {
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
  }
}