.search-bar {
  width: max-content;
  border-radius: 22px;
  transition: .3s;
  .search-input {
    width: 200px;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  .search-icon {
    transition: .3s;
  }
}

.search-bar {
  border: 1px solid var(--secondary-text-color);
  .search-input {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
}
.input-focus-true {
  border-color: var(--primary-text-color);
}
.input-focus-false {
  border-color: var(--secondary-text-color);
}

@media (max-width: 767px) {
  .search-bar {
    width: 100%;
  }
}