.book-item {
  padding: .5rem;
}

.book-card {
  padding: .25rem;
  padding-top: 1rem !important;
  .book-cover {
    width: 20%;
  }
  .add-list {
    cursor: pointer;
  }
  &:hover {
    transition: .4s;
    box-shadow: 0px 5px 10px var(--box-shadow-color);
  }
}
.book-card-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}
.book-card-author {
  color: var(--secondary-text-color);
  font-size: .8rem;
}