.book-card {
  .book-cover {
    width: 20%;
  }
  .book-info {
    .book-title {
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }
    .book-author {
      font-size: .9rem;
      a {
        margin-left: .25rem;
      }
    }
  }
  .add-list {
    cursor: pointer;
  }
}