.book-item {
  padding: .5rem;
}

.book-card {
  padding: .25rem;
  padding-top: 1rem !important;
  border-radius: .25rem;
  transition: .4s;
  
  &:hover {
    box-shadow: 0px 5px 10px var(--box-shadow-color);
  }
}
.book-card-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}
.book-card-author {
  color: var(--secondary-text-color);
  font-size: .8rem;
}