#home {
  .home-page-blog {
    img {
      margin: 0 25%;
    }
  }
  .books-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 767px) {

}