.author-page {
  .author-image-container {
    padding-top: 50%;
    margin: auto;
    background-color: lightgray;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .author-action-btn {
    cursor: pointer;
    background: var(--card-bg-color);
    color: var(--primary-text-color);
    border: none;
    padding: 12px;
    font-size: 15px;
    transition: .3s background-color;

    &:hover {
      background-color: var(--card-border-color);
    }

    svg {
      margin-right: .25rem;
    }
  }
  
  .author-details p {
    margin-top: .25rem !important;
    font-size: 15px;
  }

  .author-book {
    padding: 5px;
    border-bottom: 1px solid var(--card-border-color);
  
    .book-cover-container {
      background-color: lightgray;
      position: relative;
      width: 55px;
      height: 82.5px;
      margin-right: .5rem;
  
      .book-cover {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  
    .book-info {
  
      .book-info-published,
      .book-info-author {
        font-size: 14px;
      }
    }
  
    .book-action {
      margin-left: auto;
      .book-action-btn {
        cursor: pointer;
      background: var(--card-bg-color);
      color: var(--primary-text-color);
      border: none;
      padding: 12px;
      font-size: 15px;
      transition: .3s background-color;
  
      &:hover {
        background-color: var(--card-border-color);
      }
  
      svg {
        margin-right: .25rem;
      }
      }
    }
  }
}