.book-item {
  padding: .5rem;
  flex: 0 0 auto
}

.book-card {
  position: relative;
  width: 100% !important;
  padding: .5rem;
  padding-top: .75rem !important;
  padding-bottom: 2.5rem !important;
  border-radius: .25rem;
  transition: .4s;
  border: 1px solid var(--card-border-color);
  height: 100%;
  margin-bottom: .5rem;
  flex: none;

  .book-cover-container {
    background-color: lightgray;
    width: 100%;
    padding-top: 150%;
    position: relative;

    .book-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.book-info {
  margin-top: 1rem;
}

.book-card-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.book-card-author {
  color: var(--secondary-text-color);
  font-size: .8rem;
  margin-bottom: .5rem;
}

.book-card-rating {
  font-size: .9rem;
  margin-bottom: .5rem;

  span {
    margin-left: .25rem;
  }

  .user-rating {
    cursor: pointer;
  }
}

.add-to-library {
  display: flex;
  align-items: center;
  font-size: .8rem;
  position: absolute;
  bottom: .75rem;
  width: calc(100% - 26px);
  justify-content: center;
  padding: .25rem;
  transition: .3s;
  cursor: pointer;

  span {
    margin-left: .25rem;
  }

  &:hover {
    background-color: var(--active-link-bg-color);
  }
}