.page-vertical-center {
  display: flex;
  align-items: center;
  .container {
    margin: 0 auto !important;
  }
}

.search-bar {
  position: relative;
  width: 310px;
  border-radius: 22px;
  transition: .3s;
  .search-input {
    min-width: 200px;
    border: none;
    outline: none;
    font-size: 1rem;
    border: none !important;
  }
  .search-icon {
    transition: .3s;
  }
  .clear-input {
    cursor: pointer;
    position: absolute;
    right: 24px;
    font-size: 1.1rem;
  }
}

.filter-btn {
  text-transform: capitalize;
}
.filter-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.filter-btn-active {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.search-bar {
  border: 1px solid var(--secondary-text-color);
  .search-input {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
}
.input-focus-true {
  border-color: var(--primary-text-color);
}
.input-focus-false {
  border-color: var(--secondary-text-color);
}

@media (max-width: 767px) {
  .filter {
    justify-content: center;
  }
  .search-bar {
    width: 100%;
  }
}