.contact-submit-btn {
  border: 1px solid var(--card-border-color);
  padding: 10px;
  border-radius: .25rem;
  cursor: pointer;
  background-color: var(--card-bg-color);
  color: var(--primary-text-color);
}