aside {
  position: sticky;
  background-color: var(--primary-bg-color);
  top: 0;
  display: block;
  z-index: 2;
  a, .aside-link {
    text-transform: capitalize;
    cursor: pointer;
    padding: 6px 8px;
    font-size: 14px;
    margin: 3px 0;
    transition: .3s background-color;

    &:hover {
      background-color: var(--active-link-bg-color);
    }
  }
  .aside-link-active {
    background-color: var(--active-link-bg-color);
  }
  p {
    padding: 0 8px;
  }
}

.br {
  width: 100%;
  margin: .75rem 0;
  background-color: var(--card-border-color);
  height: 1px;
}

.sign-out {
  cursor: pointer;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.profile-edit-form {
  .form-item {
    input {
      padding: .5rem .75rem !important;
      font-size: 14px;
    }
    .text-info {
      margin-top: .25rem;
      font-size: 12px;
    }
  }
  .profile-image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .update-image-btn {
    padding: 5px 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--card-border-color);
    cursor: pointer;
    svg {
      margin-right: .25rem;
    }
  }
  .edit-profile-btn {
    background-color: #238636;
    padding: .5rem .75rem;
    border: 1px solid #238636;
    border: none;
    cursor: pointer;
    transition: .3s background-color;
    &:hover {
      background-color: #217a33;
    }
  }
}
.account-btn {
  background-color: var(--active-link-bg-color);
  padding: 10px 14px;
  border: 1px solid var(--card-border-color);
  color: var(--primary-text-color);
  cursor: pointer;
  svg {
    margin-right: .25rem;
  }
}
.delete-text {
  color: #f85149;
}
.success-btn{
  background-color: #238636;
  color: #FFF;
  &:hover {
    background-color: #217a33;
  }
}

.get-help-text {
  font-size: 14px;
  svg {
    margin-right: .25rem;
  }
  a {
    margin-left: .5rem;
    text-decoration: underline;
  }
}
.info-text {
  margin-top: .5rem;
  font-size: 14px;
}
