@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');
@import "../src/styles/global/color";
@import "../src/styles/global/variables";
@import "../src/styles/components/Navbar.scss";
@import "../src/styles/components/Footer.scss";
@import "../src/styles/components/Buttons.scss";
@import "../src/styles/pages/ErrorPage.scss";
@import "../src/styles/pages/Blogs.scss";
@import "../src/styles/pages/SignIn.scss";
@import "../src/styles/pages/Admin.scss";
@import "../src/styles/pages/Search.scss";

.page-dark {
  background-color: $secondary-dark-color;
  color: $light-text-color;
  a {
    color: $light-text-color;
  }
  .link-hover {
    color: $light-text-color;
    transition: .3s;
    &:hover {
      color: $light-purple-color;
      border-color: $light-purple-color;
    }
  }
  .text-secondary {
    color: $secondary-light-text-color;
  }
}
.page-light {
  background-color: $primary-light-color;
  color: $dark-text-color;
  a {
    color: $dark-text-color;
  }
  .link-hover {
    color: $dark-text-color;
    transition: .3s;
    &:hover {
      transition: .3s;
      color: $primary-pink-color;
      border-color: $primary-pink-color;
    }
  }
  .text-secondary {
    color: $secondary-dark-text-color;
  }
}
.page {
  min-height: calc(100vh - 61px);
}

@media (max-width: 767px) {
  .page {
    min-height: calc(100vh - 73px);
    margin-bottom: 73px;
  }
}