@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

body {
  font-family: Arial;
}

.nav-logo {
  font-family: 'Merriweather', serif;
}

#footer hr {
  border: 1px solid #555;
}
#about .page-title{
  font-family: 'Merriweather', serif;
}