@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import "../src/styles/global/color";
@import "../src/styles/global/variables";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--secondary-text-color) !important;
  outline: none;
}

.logo-title {
  font-family: var(--logo-font);
}

button {
  font-weight: normal !important;
  font-size: .9rem !important;
}

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  min-height: calc(100vh - 148px);
  a {
    color: var(--primary-text-color);
  }
  .link-hover {
    transition: .3s;
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
  .text-secondary {
    color: var(--secondary-text-color);
  }
}

@media (max-width: 767px) {
  .page {
    min-height: calc(100vh - 136px);
  }
}
