@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');
@import "../src/styles/global/color";
@import "../src/styles/global/variables";
@import "../src/styles/components/Navbar.scss";
@import "../src/styles/components/Footer.scss";
@import "../src/styles/components/Buttons.scss";
@import "../src/styles/pages/ErrorPage.scss";
@import "../src/styles/pages/Blogs.scss";
@import "../src/styles/pages/SignIn.scss";
@import "../src/styles/pages/Admin.scss";
@import "../src/styles/pages/Search.scss";

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  a {
    color: var(--primary-text-color);
  }
  .link-hover {
    transition: .3s;
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
  .text-secondary {
    color: $secondary-light-text-color;
  }
}

.page {
  min-height: calc(100vh - 61px);
}

@media (max-width: 767px) {
  .page {
    min-height: calc(100vh - 73px);
    margin-bottom: 73px;
  }
}
